
body {
    background-color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-container {
    width: 500px;
    background-color: #fff;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #4b0082;
    font-size: 24px;
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
}

.form-input {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    color: rgb(120, 37, 168);
}

input[type="text"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    border: 2px solid rgb(66, 27, 157);
    color: rgb(66, 27, 157);
}

textarea {
    resize: vertical;
}


input::placeholder,
textarea::placeholder {
    color: rgb(0, 0, 0);
}

.input-row {
    display: flex;
    gap: 12px;
}

.half-width-input {
    flex: 1;
}

.checkbox-group label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: rgb(71, 15, 124);
    font-weight: normal;
}

.checkbox-box input[type="checkbox"] {
    border-color: rgb(2, 2, 2);
    width: 20px;
    height: 20px;
    border-radius: 4px;
    margin-right: 10px;
    position: relative;
}
